
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/AuthenticationLayOut.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
      
        <div class="body">
            
           Password reset link has been sent to your email. Please check your inbox 

        </div>
</div>
</div>